.mapboxgl-popup {
  padding-bottom: 30px;
}

.mapboxgl-popup-content {
  font: 400 14px/18px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0 !important;
  width: 250px;
}

.mapboxgl-popup-content div h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  padding: 10px 8px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
	text-align: center;
}

.mapboxgl-popup-content div h4 {
  margin: 0;
  padding: 10px 5px;
  font-weight: 700;
	text-align: center;
}

.mapboxgl-popup-content div h5 {
  margin: 0;
  padding: 0;
  font-weight: 400;
	text-align: center;
	font-style: italic;
	font-size: 11px;
	color: rgb(100,100,100);
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-tip {
	display: none;
}

.loc-marker {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 20px;
  background-image: url('./pin-blue.svg');
}

.loc-curr-marker {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 20px;
  background-image: url('./pin-red.svg');
}



#loc-container {
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}

#loc-location-change {
  color: rgb(82,82,82);
  font-size: 11px;
  font-style: italic;
  text-decoration: underline;
  width: fit-content;
  margin: 0 auto;
}

#loc-location-change:hover {
  color: rgb(50,50,255);
  cursor: pointer;
}

#loc-location-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#loc-map {
  width: 100%;
  height: 100%;
  position: relative;
}

#loc-map-address-search {
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 0;
  margin-right: 8px;
  max-width: 500px;
  padding: 4px 8px;
  width: 62.5%;
  background-color: white;
  height: 32px;
}

#loc-map-address-search:focus {
  border: 1px solid rgb(100,100,100);
  outline: none !important;
}

#loc-map-bar {
  display: flex;
  align-items: center;
  background-color: white;
  padding-left: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(100% - 45px);
  z-index: 4;
}

#loc-map-bar-btn {
  background-color: rgb(85,86,90);
  border: none;
  color: white;
  font-size: 12px;
  height: 30px;
}
  
#loc-map-bar-btn:hover {
  background-color: rgb(105,106,110);
  cursor: pointer;
}

#loc-map-bar-label {
  font-size: 11px;
  color: rgb(100,100,100);
  padding: 0px 3px;
  background-color: white;
  position: absolute;
  top: 3px;
  left: 25px;
}

#loc-modal-container {
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
}

#loc-modal-box {
  background-color: white;
  border: 10px solid rgb(79,88,93);
  border-radius: 4px;
  height: 80vh;
  min-height: 315px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
}

#loc-modal-close {
  background-color: rgb(200,200,200);
  border-radius: 50%;
  color: rgb(80,80,80);
  height: 18px;
  width: 18px;
  position: absolute;
  top: 3px;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loc-modal-close:hover {
  background-color: rgb(170,170,170);
  cursor: pointer;
}

#loc-modal-close-x {
  line-height: 10px;
  font-size: 12px;
  font-weight: 600;
}

@media (max-width: 430px) {
  #loc-modal-box {
    min-width: 100vw;
    border-left-width: 0px;
    border-right-width: 0px;
  }
}